{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "requireConfigFile": false
  },
  "globals": {
    "module": true,
    "require": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ]
}